@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">Welcome to Online Shop.</p>
    <hr class="my-4">
    <p>There You can find any kind of Products.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Products" role="button">Start shoping</a>
    </p>
</div>
